<div class="pr-column-categories pr-column-account d-flex flex-column content-block p-0 overflow-hidden">
    <ul class="list-unstyled pr-column-categories-list p-0 d-flex flex-column">
        {% if logged %}
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                        <path d="M0.666504 12.4286C0.666504 10.535 2.20153 9 4.09508 9H7.9046C9.79815 9 11.3332 10.535 11.3332 12.4286C11.3332 12.7442 11.0773 13 10.7617 13H1.23793C0.922341 13 0.666504 12.7442 0.666504 12.4286Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.83317 3.83333C8.83317 5.39814 7.56464 6.66667 5.99984 6.66667C4.43503 6.66667 3.1665 5.39814 3.1665 3.83333C3.1665 2.26853 4.43503 1 5.99984 1C7.56464 1 8.83317 2.26853 8.83317 3.83333Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ account }}">{{ text_account }}</a>
            </li>
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M6.79319 8.57721H3.93341C2.13993 8.57721 0.686035 10.0311 0.686035 11.8246C0.686035 12.1235 0.928351 12.3658 1.22726 12.3658H5.14286M10.4969 8.44304L12.186 10.1321M8.4211 3.68359C8.4211 5.1657 7.21962 6.36719 5.73751 6.36719C4.2554 6.36719 3.05391 5.1657 3.05391 3.68359C3.05391 2.20149 4.2554 1 5.73751 1C7.21962 1 8.4211 2.20149 8.4211 3.68359ZM9.00936 12.8098L7.88645 12.9969C7.73687 13.0218 7.60719 12.8922 7.63212 12.7426L7.81928 11.6197C7.88418 11.2302 8.06915 10.8708 8.34833 10.5916L11.3473 7.5926C11.7172 7.22272 12.3169 7.22272 12.6868 7.5926L13.0364 7.94221C13.4063 8.3121 13.4063 8.9118 13.0364 9.28169L10.0374 12.2807C9.75824 12.5599 9.39881 12.7449 9.00936 12.8098Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ edit }}">{{ text_edit }}</a>
            </li>
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M7.82362 8.59105C7.73055 8.58304 7.63637 8.57895 7.54122 8.57895H3.9322C2.13831 8.57895 0.684082 10.0332 0.684082 11.8271C0.684082 12.126 0.926454 12.3684 1.22544 12.3684H7.0012M10.3157 10.4737V9.05263C10.3157 8.44221 10.8105 7.94737 11.4209 7.94737C12.0313 7.94737 12.5262 8.44221 12.5262 9.05263V10.4737M8.42092 3.68421C8.42092 5.16666 7.21916 6.36842 5.73671 6.36842C4.25426 6.36842 3.0525 5.16666 3.0525 3.68421C3.0525 2.20176 4.25426 1 5.73671 1C7.21916 1 8.42092 2.20176 8.42092 3.68421ZM10.1578 13H12.6841C13.0329 13 13.3157 12.7172 13.3157 12.3684V11.1053C13.3157 10.7565 13.0329 10.4737 12.6841 10.4737H10.1578C9.80895 10.4737 9.52619 10.7565 9.52619 11.1053V12.3684C9.52619 12.7172 9.80895 13 10.1578 13Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ password }}">{{ text_password }}</a>
            </li>
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                        <path d="M1.77551 10.0787C1.03981 10.3863 0.600098 10.776 0.600098 11.2C0.600098 12.1941 3.01776 13 6.0001 13C8.98244 13 11.4001 12.1941 11.4001 11.2C11.4001 10.776 10.9604 10.3863 10.2247 10.0787M9.7501 4.84073C9.7501 2.80793 8.07117 1 6.0001 1C3.92903 1 2.2501 2.80793 2.2501 4.84073V5.10363C2.25009 7.53774 4.48235 9.60474 5.50233 10.4222C5.79824 10.6593 6.20197 10.6593 6.49787 10.4222C7.51785 9.60474 9.7501 7.53774 9.7501 5.10363V4.84073ZM7.5001 4.75C7.5001 5.57843 6.82853 6.25 6.0001 6.25C5.17167 6.25 4.5001 5.57843 4.5001 4.75C4.5001 3.92157 5.17167 3.25 6.0001 3.25C6.82853 3.25 7.5001 3.92157 7.5001 4.75Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ address }}">{{ text_address }}</a>
            </li>
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                        <path d="M5.99897 7.55244L5.99932 7.55172M5.99932 7.55172C6.11952 7.30275 6.41527 6.7 7.1748 6.7C7.82492 6.7 8.42261 7.37578 8.39862 8.11162C8.38241 8.65838 8.01467 9.10572 7.58273 9.52822C7.00364 10.0947 6.47142 10.5798 6.19612 10.8271C6.08409 10.9277 5.91521 10.9277 5.80315 10.8271C5.52767 10.5799 4.99506 10.0947 4.4159 9.52822C3.98396 9.10572 3.61622 8.65838 3.60002 8.11162C3.57602 7.37578 4.17371 6.7 4.82384 6.7C5.58337 6.7 5.87911 7.30275 5.99932 7.55172ZM5.99932 7.55172L5.99966 7.55244M7.2002 1.05389V3.4C7.2002 4.06274 7.73745 4.6 8.4002 4.6H10.7463M9.0002 13H3.0002C2.00608 13 1.2002 12.1941 1.2002 11.2V2.8C1.2002 1.80589 2.00608 1 3.0002 1H6.95167C7.1108 1 7.26341 1.06321 7.37593 1.17574L10.6245 4.42426C10.737 4.53679 10.8002 4.6894 10.8002 4.84853V11.2C10.8002 12.1941 9.99431 13 9.0002 13Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ wishlist }}">{{ text_wishlist }}</a>
            </li>
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M11.8 10.6H5.49387C4.62768 10.6 3.88433 9.98307 3.7247 9.13172L3.55 8.2M3.55 8.2L2.38354 1.97885C2.27712 1.41129 1.78155 1 1.20409 1H1M3.55 8.2H11.2154C11.8228 8.2 12.3345 7.74609 12.4068 7.14298L13 2.2M7.9 5.8V2.2M7.9 5.8L9.7 4M7.9 5.8L6.1 4M4.9 12.7C4.9 12.8657 4.76569 13 4.6 13C4.43431 13 4.3 12.8657 4.3 12.7M4.9 12.7C4.9 12.5343 4.76569 12.4 4.6 12.4C4.43431 12.4 4.3 12.5343 4.3 12.7M4.9 12.7H4.3M11.5 12.7C11.5 12.8657 11.3657 13 11.2 13C11.0343 13 10.9 12.8657 10.9 12.7M11.5 12.7C11.5 12.5343 11.3657 12.4 11.2 12.4C11.0343 12.4 10.9 12.5343 10.9 12.7M11.5 12.7H10.9" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ order }}">{{ text_order }}</a>
            </li>
            {% if oct_stock_notifier_status is defined and oct_stock_notifier_status %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M8.2 13H5.8M1 3.4C1.3 2.36804 1.9 1.6 2.49999 1M13 3.4C12.7 2.36804 12.1 1.6 11.5001 1M11.1992 10.6H2.80084C2.00505 10.6 1.60083 9.64301 2.15565 9.07252L2.29036 8.934C2.61715 8.59799 2.79998 8.14777 2.79998 7.67905V5.5C2.79998 3.1804 4.68038 1.3 6.99998 1.3C9.31957 1.3 11.2 3.1804 11.2 5.5V7.67901C11.2 8.14775 11.3828 8.598 11.7096 8.93401L11.8443 9.0725C12.3992 9.64298 11.995 10.6 11.1992 10.6Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ oct_stock_notifier }}">{{ oct_stock_notifier_text }}</a>
                </li>
            {% endif %}
            {% if oct_price_tracker_status is defined and oct_price_tracker_status %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                            <path d="M1.55213 10.6L1.38926 11.0728L1.38926 11.0728L1.55213 10.6ZM2.30174 2.03395L2.42084 1.54834L2.42084 1.54834L2.30174 2.03395ZM12.4479 1.39997L12.285 1.8727L12.285 1.8727L12.4479 1.39997ZM11.6983 9.96605L11.8174 9.48044L11.6983 9.96605ZM1.21584 10.4383L0.888043 10.8159L0.888043 10.8159L1.21584 10.4383ZM1.04179 10.1874L1.50944 10.0104L1.50944 10.0104L1.04179 10.1874ZM12.9144 9.81773L13.3477 10.0674L13.3477 10.0674L12.9144 9.81773ZM12.5827 10.0914L12.4247 9.617L12.4247 9.617L12.5827 10.0914ZM12.7842 1.56168L12.4564 1.93923L12.4564 1.93923L12.7842 1.56168ZM12.9582 1.81262L13.4259 1.63569L13.4259 1.63569L12.9582 1.81262ZM1.08556 2.18227L1.51878 2.43191L1.51878 2.43191L1.08556 2.18227ZM1.41732 1.90861L1.25937 1.43421L1.25937 1.43421L1.41732 1.90861ZM3.6 6.3125C3.6 6.03636 3.37614 5.8125 3.1 5.8125C2.82386 5.8125 2.6 6.03636 2.6 6.3125H3.1H3.6ZM2.6 6.9375C2.6 7.21364 2.82386 7.4375 3.1 7.4375C3.37614 7.4375 3.6 7.21364 3.6 6.9375H3.1H2.6ZM11.4 5.0625C11.4 4.78636 11.1761 4.5625 10.9 4.5625C10.6239 4.5625 10.4 4.78636 10.4 5.0625H10.9H11.4ZM10.4 5.6875C10.4 5.96364 10.6239 6.1875 10.9 6.1875C11.1761 6.1875 11.4 5.96364 11.4 5.6875H10.9H10.4ZM7.5 3.49975C7.49986 3.22361 7.2759 2.99986 6.99975 3C6.72361 3.00014 6.49986 3.2241 6.5 3.50025L7 3.5L7.5 3.49975ZM6.5 8.49975C6.49986 8.7759 6.72361 8.99986 6.99975 9C7.2759 9.00014 7.49986 8.77639 7.5 8.50025L7 8.5L6.5 8.49975ZM5.90336 4.9209L6.40131 4.96612C6.40267 4.95116 6.40335 4.93615 6.40336 4.92112L5.90336 4.9209ZM7.62066 4.88286C7.70482 5.14586 7.98625 5.29084 8.24926 5.20668C8.51226 5.12252 8.65724 4.84109 8.57308 4.57808L8.09687 4.73047L7.62066 4.88286ZM6.37965 7.11741C6.29564 6.85436 6.01429 6.70922 5.75124 6.79323C5.48819 6.87725 5.34305 7.1586 5.42706 7.42165L5.90336 7.26953L6.37965 7.11741ZM5.90313 4.92344L5.40517 4.87822C5.40382 4.89318 5.40313 4.9082 5.40313 4.92323L5.90313 4.92344ZM6.99999 5.87305L7.10195 5.38355L7.10195 5.38355L6.99999 5.87305ZM4 2.25V2.75C4.99626 2.75 5.98245 2.40408 6.92761 2.10114C7.89992 1.7895 8.88482 1.5 10 1.5V1V0.5C8.71518 0.5 7.60008 0.835496 6.62239 1.14886C5.61755 1.47092 4.80374 1.75 4 1.75V2.25ZM10 9.75V9.25C9.00374 9.25 8.01755 9.59592 7.07239 9.89886C6.10008 10.2105 5.11518 10.5 4 10.5V11V11.5C5.28482 11.5 6.39992 11.1645 7.37761 10.8511C8.38245 10.5291 9.19626 10.25 10 10.25V9.75ZM4 11V10.5C2.99801 10.5 2.19588 10.293 1.715 10.1273L1.55213 10.6L1.38926 11.0728C1.94824 11.2653 2.86205 11.5 4 11.5V11ZM1 9.75697H1.5V3.04203H1H0.5V9.75697H1ZM2.30174 2.03395L2.18264 2.51956C2.76544 2.66249 3.36498 2.75 4 2.75V2.25V1.75C3.45879 1.75 2.94003 1.67568 2.42084 1.54834L2.30174 2.03395ZM10 1V1.5C11.002 1.5 11.8041 1.70702 12.285 1.8727L12.4479 1.39997L12.6107 0.927245C12.0518 0.734658 11.138 0.5 10 0.5V1ZM13 2.24303H12.5V8.95797H13H13.5V2.24303H13ZM11.6983 9.96605L11.8174 9.48044C11.2346 9.33751 10.635 9.25 10 9.25V9.75V10.25C10.5412 10.25 11.06 10.3243 11.5792 10.4517L11.6983 9.96605ZM1.55213 10.6L1.715 10.1273C1.67226 10.1126 1.64097 10.1018 1.61404 10.0919C1.58763 10.0822 1.57175 10.0757 1.56129 10.071C1.54701 10.0645 1.54648 10.0632 1.54365 10.0608L1.21584 10.4383L0.888043 10.8159C1.06127 10.9663 1.24089 11.0216 1.38926 11.0728L1.55213 10.6ZM1 9.75697H0.5C0.5 9.94119 0.493234 10.1505 0.574137 10.3643L1.04179 10.1874L1.50944 10.0104C1.50876 10.0087 1.50826 10.0071 1.50758 10.0038C1.50673 9.99963 1.50514 9.99031 1.50372 9.97196C1.50034 9.92855 1.5 9.87075 1.5 9.75697H1ZM1.21584 10.4383L1.54365 10.0608C1.54773 10.0643 1.5469 10.0641 1.54216 10.0586C1.53777 10.0536 1.53217 10.0465 1.52627 10.038C1.52037 10.0295 1.51553 10.0215 1.51207 10.0152C1.50839 10.0084 1.50801 10.0067 1.50944 10.0104L1.04179 10.1874L0.574137 10.3643C0.635469 10.5264 0.756024 10.7012 0.888043 10.8159L1.21584 10.4383ZM13 8.95797H12.5C12.5 9.20332 12.4996 9.35804 12.4908 9.4711C12.4819 9.5859 12.4675 9.59192 12.4812 9.56808L12.9144 9.81773L13.3477 10.0674C13.447 9.89505 13.4754 9.70829 13.4878 9.54887C13.5004 9.38772 13.5 9.1868 13.5 8.95797H13ZM11.6983 9.96605L11.5792 10.4517C11.813 10.509 12.017 10.5594 12.1817 10.5864C12.34 10.6124 12.5411 10.6322 12.7406 10.5658L12.5827 10.0914L12.4247 9.617C12.4659 9.6033 12.4668 9.61982 12.3435 9.5996C12.2266 9.58043 12.0676 9.54181 11.8174 9.48044L11.6983 9.96605ZM12.9144 9.81773L12.4812 9.56808C12.4667 9.59322 12.4577 9.60079 12.4558 9.60231C12.4543 9.60358 12.4473 9.6095 12.4247 9.617L12.5827 10.0914L12.7406 10.5658C13.0077 10.4769 13.2086 10.3087 13.3477 10.0674L12.9144 9.81773ZM12.4479 1.39997L12.285 1.8727C12.3277 1.88743 12.359 1.89823 12.386 1.9081C12.4124 1.91778 12.4282 1.92429 12.4387 1.92904C12.453 1.93553 12.4535 1.93677 12.4564 1.93923L12.7842 1.56168L13.112 1.18413C12.9387 1.03373 12.7591 0.978362 12.6107 0.927245L12.4479 1.39997ZM13 2.24303H13.5C13.5 2.05881 13.5068 1.84953 13.4259 1.63569L12.9582 1.81262L12.4906 1.98955C12.4912 1.99134 12.4917 1.99285 12.4924 1.99622C12.4933 2.00037 12.4949 2.00968 12.4963 2.02804C12.4997 2.07145 12.5 2.12925 12.5 2.24303H13ZM12.7842 1.56168L12.4564 1.93923C12.4523 1.93569 12.4531 1.93591 12.4578 1.94137C12.4622 1.94644 12.4678 1.95353 12.4737 1.96205C12.4796 1.97054 12.4845 1.97849 12.4879 1.98483C12.4916 1.99158 12.492 1.99333 12.4906 1.98955L12.9582 1.81262L13.4259 1.63569C13.3645 1.47358 13.244 1.29875 13.112 1.18413L12.7842 1.56168ZM1 3.04203H1.5C1.5 2.79668 1.50036 2.64196 1.50918 2.5289C1.51814 2.4141 1.53252 2.40808 1.51878 2.43191L1.08556 2.18227L0.652343 1.93263C0.553046 2.10495 0.524645 2.29171 0.51221 2.45113C0.499638 2.61228 0.5 2.8132 0.5 3.04203H1ZM2.30174 2.03395L2.42084 1.54834C2.18702 1.491 1.98299 1.44058 1.8183 1.41358C1.66004 1.38763 1.45887 1.36779 1.25937 1.43421L1.41732 1.90861L1.57527 2.383C1.53413 2.3967 1.53315 2.38018 1.6565 2.4004C1.77342 2.41957 1.93243 2.45819 2.18265 2.51956L2.30174 2.03395ZM1.08556 2.18227L1.51878 2.43191C1.53327 2.40678 1.54233 2.39921 1.54418 2.39769C1.54572 2.39642 1.55275 2.3905 1.57528 2.383L1.41732 1.90861L1.25937 1.43421C0.992274 1.52314 0.7914 1.69132 0.652343 1.93263L1.08556 2.18227ZM3.1 6.3125H2.6V6.9375H3.1H3.6V6.3125H3.1ZM10.9 5.0625H10.4V5.6875H10.9H11.4V5.0625H10.9ZM7.00023 3.96875L7.50023 3.9685L7.5 3.49975L7 3.5L6.5 3.50025L6.50023 3.969L7.00023 3.96875ZM7.00023 8.03125L6.50023 8.031L6.5 8.49975L7 8.5L7.5 8.50025L7.50023 8.0315L7.00023 8.03125ZM7.00023 3.96875V3.46875C6.18172 3.46875 5.40375 4.05636 5.40336 4.92067L5.90336 4.9209L6.40336 4.92112C6.40344 4.73427 6.59952 4.46875 7.00023 4.46875V3.96875ZM8.09687 4.73047L8.57308 4.57808C8.3934 4.01657 7.85381 3.46875 7.00023 3.46875V3.96875V4.46875C7.36588 4.46875 7.55659 4.68265 7.62066 4.88286L8.09687 4.73047ZM8.09687 6.95215H7.59687C7.59687 7.26607 7.34036 7.53125 7.00023 7.53125V8.03125V8.53125C7.87933 8.53125 8.59687 7.83158 8.59687 6.95215H8.09687ZM7.00023 8.03125V7.53125C6.63429 7.53125 6.44342 7.31706 6.37965 7.11741L5.90336 7.26953L5.42706 7.42165C5.60657 7.98372 6.14695 8.53125 7.00023 8.53125V8.03125ZM5.90313 4.92344L5.40313 4.92323C5.40294 5.37975 5.60989 5.72763 5.92083 5.96332C6.20675 6.18006 6.56704 6.2936 6.89804 6.36254L6.99999 5.87305L7.10195 5.38355C6.82333 5.32552 6.63507 5.2499 6.5249 5.1664C6.43975 5.10185 6.40308 5.03841 6.40313 4.92365L5.90313 4.92344ZM6.99999 5.87305L6.89804 6.36254C7.41627 6.47048 7.59687 6.72753 7.59687 6.95215H8.09687H8.59687C8.59687 6.03419 7.82819 5.53482 7.10195 5.38355L6.99999 5.87305ZM5.90313 4.92344L6.40108 4.96866L6.40131 4.96612L5.90336 4.9209L5.40541 4.87568L5.40517 4.87822L5.90313 4.92344Z" fill="var(--pr-black-color)"/>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ oct_price_tracker }}">{{ oct_price_tracker_text }}</a>
                </li>
            {% endif %}
            {% if download_view is defined and download_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M1.5 8.33333C1.5 8.05719 1.27614 7.83333 1 7.83333C0.723858 7.83333 0.5 8.05719 0.5 8.33333H1.5ZM13.5 8.33333C13.5 8.05719 13.2761 7.83333 13 7.83333C12.7239 7.83333 12.5 8.05719 12.5 8.33333H13.5ZM4.02022 3.97978C3.82496 3.78452 3.50838 3.78452 3.31311 3.97978C3.11785 4.17504 3.11785 4.49162 3.31311 4.68689L4.02022 3.97978ZM7 7.66667L6.64645 8.02022C6.84171 8.21548 7.15829 8.21548 7.35355 8.02022L7 7.66667ZM10.6869 4.68689C10.8821 4.49162 10.8821 4.17504 10.6869 3.97978C10.4916 3.78452 10.175 3.78452 9.97978 3.97978L10.6869 4.68689ZM7.5 1C7.5 0.723858 7.27614 0.5 7 0.5C6.72386 0.5 6.5 0.723858 6.5 1H7.5ZM11 12.5H3V13.5H11V12.5ZM1.5 11V8.33333H0.5V11H1.5ZM12.5 8.33333V11H13.5V8.33333H12.5ZM3 12.5C2.17157 12.5 1.5 11.8284 1.5 11H0.5C0.5 12.3807 1.61929 13.5 3 13.5V12.5ZM11 13.5C12.3807 13.5 13.5 12.3807 13.5 11H12.5C12.5 11.8284 11.8284 12.5 11 12.5V13.5ZM3.31311 4.68689L6.64645 8.02022L7.35355 7.31311L4.02022 3.97978L3.31311 4.68689ZM7.35355 8.02022L10.6869 4.68689L9.97978 3.97978L6.64645 7.31311L7.35355 8.02022ZM7.5 7.66667V1H6.5V7.66667H7.5Z" fill="var(--pr-black-color)"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ download }}">{{ text_download }}</a>
                </li>
            {% endif %}
            {% if recurring_view is defined and recurring_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M3.60914 13H3.4C2.07452 13 1 11.9255 1 10.6V8.8914L2.2 10.0914M10.3909 1H10.6C11.9255 1 13 2.07452 13 3.4V5.1086L11.8 3.9086M1 3.1H8.2M5.8 9.4H13M8.2 4.9V2.2C8.2 1.53726 7.66274 1 7 1H2.2C1.53726 1 1 1.53726 1 2.2V5.5C1 6.16274 1.53726 6.7 2.2 6.7H3.87828M7 13H11.8C12.4627 13 13 12.4627 13 11.8V8.5C13 7.83726 12.4627 7.3 11.8 7.3H7C6.33726 7.3 5.8 7.83726 5.8 8.5V11.8C5.8 12.4627 6.33726 13 7 13Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ recurring }}">{{ text_recurring }}</a>
                </li>
            {% endif %}
            {% if reward_view is defined and reward_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M7.65 6.99885H10.9M9.6 9.52565H10.9M4.075 6.0513V5.73545M4.075 10.4732V10.789M5.26327 6.97911C5.13124 6.59417 4.73566 6.20922 4.07525 6.20922C3.41484 6.20922 2.88723 6.64036 2.88697 7.17158L2.88672 7.17415C2.88646 7.75156 3.41458 8.0056 4.07499 8.13393C4.74908 8.26493 5.26327 8.64719 5.26327 9.2246C5.26327 9.82768 4.73566 10.3153 4.07525 10.3153C3.41484 10.3153 3.01874 9.93033 2.88697 9.54539M3.53205 3.52449L3.30932 3.16351C2.89349 2.48956 3.11581 1.61576 3.80692 1.20782C4.49604 0.801046 5.39369 1.00966 5.81892 1.67539L6.99999 3.52449L8.181 1.6755C8.60628 1.00968 9.50402 0.800985 10.1933 1.20771C10.8847 1.61569 11.1071 2.48979 10.6912 3.16395L10.4687 3.52449M2.45 13H11.55C12.627 13 13.5 12.1515 13.5 11.1049V5.4196C13.5 4.37296 12.627 3.5245 11.55 3.5245H2.45C1.37304 3.5245 0.5 4.37296 0.5 5.4196V11.1049C0.5 12.1515 1.37304 13 2.45 13Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ reward }}">{{ text_reward }}</a>
                </li>
            {% endif %}
            {% if return_view is defined and return_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
                            <path d="M0.666504 3.66667L11.3332 3.66667M11.3332 3.66667L8.6665 6.33333M11.3332 3.66667L8.6665 1M11.3332 10.3333L0.666504 10.3333M0.666504 10.3333L3.33317 7.66667M0.666504 10.3333L3.33317 13" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ return }}">{{ text_return }}</a>
                </li>
            {% endif %}
            {% if transaction_view is defined and transaction_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
                            <path d="M1.3335 3.66667H14.6668M1.3335 3.66667V9.66667C1.3335 10.7712 2.22893 11.6667 3.3335 11.6667H7.5262M1.3335 3.66667V3C1.3335 1.89543 2.22893 1 3.3335 1H12.6668C13.7714 1 14.6668 1.89543 14.6668 3V3.66667M14.6668 3.66667V6.51533M4.00016 7H6.00016M13.4144 11.7475C13.7763 11.3856 14.0002 10.8856 14.0002 10.3333C14.0002 9.22876 13.1047 8.33333 12.0002 8.33333C10.8956 8.33333 10.0002 9.22876 10.0002 10.3333C10.0002 11.4379 10.8956 12.3333 12.0002 12.3333C12.5524 12.3333 13.0524 12.1095 13.4144 11.7475ZM13.4144 11.7475L14.6668 13" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ transaction }}">{{ text_transaction }}</a>
                </li>
            {% endif %}
            {% if newsletter_view is defined and newsletter_view %}
                <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                    <span class="pr-column-categories-list-item-icon bg-grey br-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                            <path d="M6.76588 11.6053C7.04203 11.6053 7.26588 11.3814 7.26588 11.1053C7.26588 10.8291 7.04203 10.6053 6.76588 10.6053V11.6053ZM12.8157 7.63247C12.8157 7.90862 13.0395 8.13247 13.3157 8.13247C13.5918 8.13247 13.8157 7.90862 13.8157 7.63247H12.8157ZM1.3385 4.20204L1.09754 4.64014L1.09754 4.64014L1.3385 4.20204ZM6.08676 6.81358L6.32772 6.37547L6.08676 6.81358ZM7.91298 6.81358L7.67202 6.37547L7.91298 6.81358ZM12.6612 4.20204L12.4203 3.76393V3.76393L12.6612 4.20204ZM9.56395 11.3833C9.36869 11.188 9.05211 11.188 8.85684 11.3833C8.66158 11.5786 8.66158 11.8951 8.85684 12.0904L9.56395 11.3833ZM10.4736 13L10.12 13.3536C10.3153 13.5488 10.6318 13.5488 10.8271 13.3536L10.4736 13ZM13.6692 10.5114C13.8645 10.3162 13.8645 9.9996 13.6692 9.80434C13.474 9.60908 13.1574 9.60908 12.9621 9.80434L13.6692 10.5114ZM2.57882 1.5H11.4209V0.5H2.57882V1.5ZM1.18408 9.21053V2.89474H0.184082V9.21053H1.18408ZM2.57882 10.6053C1.80853 10.6053 1.18408 9.98082 1.18408 9.21053H0.184082C0.184082 10.5331 1.25624 11.6053 2.57882 11.6053V10.6053ZM11.4209 1.5C12.1912 1.5 12.8157 2.12444 12.8157 2.89474H13.8157C13.8157 1.57216 12.7435 0.5 11.4209 0.5V1.5ZM2.57882 0.5C1.25624 0.5 0.184082 1.57216 0.184082 2.89474H1.18408C1.18408 2.12445 1.80853 1.5 2.57882 1.5V0.5ZM6.76588 10.6053H2.57882V11.6053H6.76588V10.6053ZM12.8157 2.89474V7.63247H13.8157V2.89474H12.8157ZM1.09754 4.64014L5.8458 7.25169L6.32772 6.37547L1.57946 3.76393L1.09754 4.64014ZM8.15394 7.25169L12.9022 4.64014L12.4203 3.76393L7.67202 6.37547L8.15394 7.25169ZM1.18408 3.09524V2.89474H0.184082V3.09524H1.18408ZM12.8157 2.89474V3.09524H13.8157V2.89474H12.8157ZM12.9022 4.64014C13.4656 4.33027 13.8157 3.73824 13.8157 3.09524H12.8157C12.8157 3.37355 12.6641 3.6298 12.4203 3.76393L12.9022 4.64014ZM5.8458 7.25169C6.56442 7.64693 7.43532 7.64693 8.15394 7.25169L7.67202 6.37547C7.25349 6.60567 6.74626 6.60567 6.32772 6.37547L5.8458 7.25169ZM1.57946 3.76393C1.33559 3.6298 1.18408 3.37355 1.18408 3.09524H0.184082C0.184082 3.73824 0.534127 4.33027 1.09754 4.64014L1.57946 3.76393ZM8.85684 12.0904L10.12 13.3536L10.8271 12.6464L9.56395 11.3833L8.85684 12.0904ZM10.8271 13.3536L13.6692 10.5114L12.9621 9.80434L10.12 12.6464L10.8271 13.3536Z" fill="var(--pr-black-color)"></path>
                        </svg>
                    </span>
                    <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ newsletter }}">{{ text_newsletter }}</a>
                </li>
            {% endif %}
            {% if affiliate_view is defined and affiliate_view %}
                {% if not tracking %}
                    <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                        <span class="pr-column-categories-list-item-icon bg-grey br-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
                                <path d="M12.3101 9.04371C13.6494 9.2804 14.6666 10.45 14.6666 11.8571C14.6666 12.1201 14.4534 12.3333 14.1905 12.3333H13.3336M11.1166 1.79184C12.1136 2.12051 12.8332 3.05955 12.8332 4.16667C12.8332 5.40717 11.9297 6.43665 10.7449 6.63294M1.90492 13H10.0954C10.411 13 10.6668 12.7442 10.6668 12.4286C10.6668 10.535 9.13181 9 7.23826 9H4.76207C2.86852 9 1.3335 10.535 1.3335 12.4286C1.3335 12.7442 1.58933 13 1.90492 13ZM8.8335 3.83333C8.8335 5.39814 7.56497 6.66667 6.00016 6.66667C4.43536 6.66667 3.16683 5.39814 3.16683 3.83333C3.16683 2.26853 4.43536 1 6.00016 1C7.56497 1 8.8335 2.26853 8.8335 3.83333Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ affiliate }}">{{ text_oct_affiliate }}</a>
                    </li>
                {% else %}
                    <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                        <span class="pr-column-categories-list-item-icon bg-grey br-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
                                <path d="M12.3101 9.04371C13.6494 9.2804 14.6666 10.45 14.6666 11.8571C14.6666 12.1201 14.4534 12.3333 14.1905 12.3333H13.3336M11.1166 1.79184C12.1136 2.12051 12.8332 3.05955 12.8332 4.16667C12.8332 5.40717 11.9297 6.43665 10.7449 6.63294M1.90492 13H10.0954C10.411 13 10.6668 12.7442 10.6668 12.4286C10.6668 10.535 9.13181 9 7.23826 9H4.76207C2.86852 9 1.3335 10.535 1.3335 12.4286C1.3335 12.7442 1.58933 13 1.90492 13ZM8.8335 3.83333C8.8335 5.39814 7.56497 6.66667 6.00016 6.66667C4.43536 6.66667 3.16683 5.39814 3.16683 3.83333C3.16683 2.26853 4.43536 1 6.00016 1C7.56497 1 8.8335 2.26853 8.8335 3.83333Z" stroke="var(--pr-black-color)" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ affiliate }}">{{ text_oct_affiliate }}</a>
                    </li>
                    <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                        <span class="pr-column-categories-list-item-icon bg-grey br-4">
                            <i class="fas fa-code"></i>
                        </span>
                        <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ tracking }}">{{ text_oct_tracking }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="pr-column-categories-list-item py-3 px-4 d-flex align-items-center gap-3">
                <span class="pr-column-categories-list-item-icon bg-grey br-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M7.16667 3.66667C7.16667 3.94281 7.39052 4.16667 7.66667 4.16667C7.94281 4.16667 8.16667 3.94281 8.16667 3.66667H7.16667ZM8.16667 10.3333C8.16667 10.0572 7.94281 9.83333 7.66667 9.83333C7.39052 9.83333 7.16667 10.0572 7.16667 10.3333H8.16667ZM11.3536 4.64645C11.1583 4.45118 10.8417 4.45118 10.6464 4.64645C10.4512 4.84171 10.4512 5.15829 10.6464 5.35355L11.3536 4.64645ZM13 7L13.3536 7.35355C13.4473 7.25979 13.5 7.13261 13.5 7C13.5 6.86739 13.4473 6.74022 13.3536 6.64645L13 7ZM10.6464 8.64645C10.4512 8.84171 10.4512 9.15829 10.6464 9.35355C10.8417 9.54882 11.1583 9.54882 11.3536 9.35355L10.6464 8.64645ZM5 6.5C4.72386 6.5 4.5 6.72386 4.5 7C4.5 7.27614 4.72386 7.5 5 7.5V6.5ZM1.5 11V3H0.5V11H1.5ZM3 1.5H5.66667V0.5H3V1.5ZM5.66667 12.5H3V13.5H5.66667V12.5ZM7.16667 3V3.66667H8.16667V3H7.16667ZM7.16667 10.3333V11H8.16667V10.3333H7.16667ZM5.66667 13.5C7.04738 13.5 8.16667 12.3807 8.16667 11H7.16667C7.16667 11.8284 6.49509 12.5 5.66667 12.5V13.5ZM5.66667 1.5C6.49509 1.5 7.16667 2.17157 7.16667 3H8.16667C8.16667 1.61929 7.04738 0.5 5.66667 0.5V1.5ZM1.5 3C1.5 2.17157 2.17157 1.5 3 1.5V0.5C1.61929 0.5 0.5 1.61929 0.5 3H1.5ZM0.5 11C0.5 12.3807 1.61929 13.5 3 13.5V12.5C2.17157 12.5 1.5 11.8284 1.5 11H0.5ZM10.6464 5.35355L12.6464 7.35355L13.3536 6.64645L11.3536 4.64645L10.6464 5.35355ZM12.6464 6.64645L10.6464 8.64645L11.3536 9.35355L13.3536 7.35355L12.6464 6.64645ZM13 6.5L5 6.5V7.5L13 7.5V6.5Z" fill="var(--pr-black-color)"></path>
                    </svg>
                </span>
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ logout }}">{{ text_logout }}</a>
            </li>
        {% else %}
            <li class="pr-column-categories-list-item without-icon px-4 d-flex align-items-center gap-3">
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ login }}">{{ text_login }}</a>
            </li>
            <li class="pr-column-categories-list-item without-icon px-4 d-flex align-items-center gap-3">
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ register }}">{{ text_register }}</a>
            </li>
            <li class="pr-column-categories-list-item without-icon px-4 d-flex align-items-center gap-3">
                <a class="dark-link fw-500 fsz-14 lh-sm" href="{{ forgotten }}">{{ text_forgotten }}</a>
            </li>
        {% endif %}
    </ul>
</div>
<script>
    const columnToShow = document.querySelector('.pr-column');

    if (columnToShow) {
        columnToShow.classList.add('display-column');
    }
</script>
